<div class="row chat-header"><h2>Chat</h2></div>
<div class="row message-container no-gutters" #messageContainer>
  <div class="col chat-messages">
    <div
      class="row message"
      *ngFor="let message of chatMessages; let index = index"
      [ngClass]="{'left': index % 2 !== 0, 'right': index % 2 === 0}"
    >
      <div class="col">
        <div class="row username">
          <h4>{{ message.username }}</h4>
        </div>
        <div class="row text">
            {{ message.text }}
        </div>
      </div>
    </div>
    <div id="bottom"></div>
  </div>
  <button
    scrollButton
    type="button"
    class="btn btn-primary jump-to-bottom"
    id="jump"
    [ngx-scroll-to]="'#bottom'"
  >See Newest Messages</button>
</div>
<div class="row tip-jar">
  <div class="col">
    <div class="card">
      <div class="card-body"><div class="tip-logo"><h1>$</h1></div><p>{{ tipJar }}</p></div>
    </div>
  </div>
</div>