div.row.container-fluid {
    height: 100%;
    margin: 0px;
    padding: 1em;

    .left-wrapper {
        // padding: 1em 1em;
        // border-color: #000000;
        // border-width: 3px;
        padding: 0px;
        border: none;
    }

    .right-wrapper {
        height: 100%;
    }
}

.blackout {
    position: fixed;
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 3;
    transition: all 5s ease-in;
}

.blackout.off {
    // display: none;
    opacity: 0;
    z-index: 0;
    transition: none;
}