<div class="logo-container">
  <img id="logo" src="assets/images/logo.svg">
  <img id="title" src="assets/images/title.svg">
</div>
<div class="row webcam-container container-fluid no-gutters">
  <div class="col">
    <div class="row no-gutters webcam">
      <webcam></webcam>
    </div>
    <div class="row live-indicator">
      <div
        class="alert alert-danger live"
        [ngClass]="{'live-inactive': !chatService.liveOn}"
        (click)="toggleLive()"
      >
        <div class="live-circle" [ngClass]="{'on': chatService.liveOn}"></div><h3>{{ liveString }}</h3>
      </div>
    </div>
    <div class="row viewers-indicator">
      <div class="alert alert-info viewers">
        Viewers: {{ viewers }}
      </div>
    </div>
  </div>
</div>
